package errors

import (
	"encoding/json"
	"fmt"
)

const (
{{ #Entries }}
	// {{#Constants}}{{Go}}{{/Constants}} - {{ Entry.Message }}
	{{#Constants}}{{Go}}{{/Constants}} = "{{ Entry.Code }}"
{{ /Entries }}
)

// ErrorEntry describes the structure of an error entry
type ErrorEntry struct {
	error

  // original error
	OriginalError error 							 `json:"-"`
	OriginalErrorMessage string 			 `json:"-"`

	Code        string                 `json:"code"`
	Message     string                 `json:"message"`
	Description string                 `json:"description,omitempty"`
	Cause       string                 `json:"cause,omitempty"`
	Solution    string                 `json:"solution,omitempty"`
	Meta        map[string]interface{} `json:"meta,omitempty"`
}

func (e ErrorEntry) Error() string {
	return fmt.Sprintf("[DAPPER-%v] %v", e.Code, e.Message)
}

// GetErrorByCode retrieves an error entry by its given numeric code
func GetErrorByCode(code string) ErrorEntry {
	var content string
	var entry ErrorEntry

	switch code {
	{{ #Entries }}
	case {{#Constants}}{{Go}}{{/Constants}}:
		content = `{{ &EntryJSON }}`
	{{ /Entries }}
	default:
		content = `{"message": "Unknown error"}`
	}

	err := json.Unmarshal([]byte(content), &entry)
	if err != nil {
		return ErrorEntry{
			Message: "Unknown error",
			Cause: 	 "Internal parsing error",
		}
	}

	return entry
}

// GetErrorByCodeWithOriginal retrieves an error entry by its given numeric code, 
// and tracks the original error
func GetErrorByCodeWithOriginal(code string, original error) ErrorEntry {
	entry := GetErrorByCode(code)
	entry.OriginalError = original
	entry.OriginalErrorMessage = original.Error()

	return entry
}
